* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #191919;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-rows: 3;
  width: 100vw;
  height: 100vh;
}

.nav {
  margin: 40px 120px 0 120px;
  display: flex;
  justify-content: space-between;
  grid-row: 1 / 1;
  height: max-content;
}

.clientLogo {
  height: 32px;
}

.callUs {
  font-weight: 400;
  height: max-content;
}

.phoneNumber {
  font-weight: 600;
  height: max-content;
}

.container {
  grid-row: 2 / 2;
  width: 850px;
  height: 500px;
  justify-self: center;
  align-self: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  display: grid;
  grid-template-rows: auto auto repeat(2, max-content);
  /* grid-template-areas: repeat(4, max-content); */
  grid-template-columns: repeat(2, 1fr);
}

.containerTitle {
  align-self: start;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D3D3D3;
  margin: 40px; 
  grid-row: 1 / 1;
}

.containerItems {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 80px;
}

.containerCopy {
  font-size: 16px;
  color: #191919;
  font-weight: 400;
  text-align: center;
}

.containerButton {
  width: 159px;
  height: 42px;
  color: #F5F5F9;
  font-weight: 600;
  margin-top: 10px;
  background: linear-gradient(321.6deg, #5987FF -13.1%, #0566FF 70.38%);
  border-radius: 5px;
  outline: none;
  transition: all 0.4s;
  box-shadow: 0px 9px 30px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.containerButton:hover {
  transform: translateY(-4px);
    transition: all 0.4s;
}

.laptop {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  align-self: center;
  justify-self: center;
  margin-right: 80px;
}

.containerInfo, .containerIssues {
  color: #191919;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  grid-column: 1 / 3;
}

.containerInfo {
  grid-row: 3 / 3;
  margin-top: 20px;
  line-height: 22px;
}

.containerIssues {
  grid-row: 4 / 4;
  margin-top: 10px;
  margin-bottom: 50px;
}

.link {
  font-size: 12px;
  color: #0566FF;
  font-weight: 400;
  transition: all 0.4s;
}

.link:hover {
  color: #d3d3d3;
  transition: all 0.4s;
} 

/* ul {
  display:inline-block;
} */

li {
  list-style-type: none;
  display: inline-block;
  color: #191919;
}

.divider {
  height: 14px;
  border-right: 1px solid #191919;
  vertical-align: middle;
  margin: 0 2px;
}


footer {
  margin: 40px 120px;
  grid-row: 3 / 3;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  display: flex;
  align-self: end;
}

.poweredBy, .footerName {
  font-size: 12px;
  line-height: 16px;

}

.footerLogo {
  height: 16px;
  width: 16px;
  vertical-align: middle;

}

.footerName {
  font-weight: 600;
}


@media screen and (max-width: 930px) {
  .nav {
    margin: 40px 80px 0 80px;
  }
  
  .container {
    width: 86vw;
    height: max-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
  }

  .container > * {
    grid-column: 1 / 1;
    justify-self: center;
    margin-right: 0;
    margin-left: 0;
  }

  .containerTitle {
    justify-self: center;
    margin: 40px 0 0 0;
  }

  .laptop {
    height: 150px;
    margin-top: 40px;
  }

  .containerItems{
    grid-row: 3 / 3;
    margin-top: 20px;
  }

  .containerCopy {
    margin: 0 40px;
    font-size: 14px;
  }

  .containerButton {
    margin: 30px auto;
  }

  .containerInfo {
    grid-row: 4 / 4;
    margin: 0px 40px 0 40px;
  }

  br {
    display: none;
  }

  .containerIssues {
    grid-row: 5 / 5;
    margin-top: 15px;
  }

  footer {
    margin: 40px 80px;
  }

  li {
    font-size: 10px;
  }

}

@media screen and (max-width: 678px) {
  
  body {
    grid-template-rows: repeat(2, max-content) auto;
  }
  
  .nav {
    margin: 20px 40px;
  }

  .phoneNumber, .callUs {
    font-size: 12px;
  }

  .clientLogo {
    height: 18px;
  }

  .containerInfo {
    margin: 0px 20px 0 20px;
  }
  
  .container {
    margin-top: 80px;
  }

  footer {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px;
  } 

  ul {
    padding: 0;
  }
}

@media screen and (max-width: 416px) {
  .container {
    margin-top: 40px;
  }
}